@model EmpowerAI.Models.Submission

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalBudget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tier1Objective)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tier1Objective)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreferredMediaApproach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreferredMediaApproach)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBudgetFlexible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBudgetFlexible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCampaignContinuous)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCampaignContinuous)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCustomMarketSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCustomMarketSchedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCustomMarketBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCustomMarketBudget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tier2ObjectiveGoal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tier2ObjectiveGoal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tier2ObjectiveBudgetFlexibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tier2ObjectiveBudgetFlexibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAuthorized)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAuthorized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignDurationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignDurationType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.BillAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tier.TierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tier2Objective)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tier2Objective.Objective)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
